{% extends "students/base.html" %}
{% block content %}

            <h1>PyBursa Students list</h1>
            <ul class="list-group">

              {% for student in students %}
            <li class="list-group-item">
                <a href={% url 'Student_item' student.id %}>
                    <font color="black">
                {{ student.surname }} {{ student.name }}
                    </font>

                </a>
            </li>
            {% endfor %}

            </ul>

{% endblock %}
