{% extends "dossier/base.html" %}
{% block content %}

                <h1>Досье: </h1>
                <ul class="list-group">
                  <font color="black">
                  <li class="list-group-item">Адрес:
                      <a href={% url 'address_item' dosier.address.id %}>
                      <font color="grey">{{ dosier.address.street }}, {{ dosier.address.home }}</font></a>
                  </li>
                  <li class="list-group-item">Нелюбимые курсы:
                      {% for course in dosier.unloved_courses.all %}
                        {{ course.title }} {% endfor %}
                  </li>
                  <li class="list-group-item">Любимый цвет: {{ dosier.color }}</li>

                  </font>

                </ul>

{% endblock %}
