{% extends "dossier/base.html" %}
{% block content %}

            <h1>PyBursa Dossier list</h1>
            <ul class="list-group">

              {% for dosier in dossier %}
            <li class="list-group-item">
                <a href={% url 'dossier-item' dosier.id %}>
                    <font color="black">
                {{ dosier.address.street }} - {{ dosier.address.home }}, {{ dosier.color }},
                        {% for course in dosier.unloved_courses.all %}
                        {{ course.title }} {% endfor %}
                    </font>

                </a>
            </li>
            {% endfor %}

            </ul>

{% endblock %}
