
          <div class="inner cover">
            <h1 class="cover-heading">HomeWork #15</h1>
            <p class="lead">Merry Christmas :)</p>
          </div>

          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/wRV3XEyHrDw"allowfullscreen></iframe>
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
