{% extends "courses/base.html" %}
{% block content %}

                <h1>Курсы: {{ courses.title }}</h1>
                <ul class="list-group">
                  <font color="black">
                  <li class="list-group-item">Язык программирования (технология): {{ courses.technology }}</li>
                  <li class="list-group-item">Название: {{ courses.title }}</li>
                  <li class="list-group-item">Описание: {{ courses.description }}</li>
                  <li class="list-group-item">Преподаватель:
                      <a href={% url 'Coach_item' courses.instructor.id %}><font color="grey">
                      {{ courses.instructor.surname }} {{ courses.instructor.name }}</font></a></li>
                  <li class="list-group-item">Асистент:
                      <a href={% url 'Coach_item' courses.assistant.id %}><font color="grey">
                      {{ courses.assistant.surname }} {{ courses.assistant.name }}</font></a></li>
                  <li class="list-group-item">Дата начала: {{ courses.start_date }}</li>
                  <li class="list-group-item">Дата окончания: {{ courses.end_date }}</li>
                  <li class="list-group-item">Адрес:
                      <a href={% url 'address_item' courses.venue.id %}>
                      <font color="grey">{{ courses.venue.street }}, {{ courses.venue.home }}</font></a>
                  </li>
                  </font>

                </ul>

{% endblock %}
