{% extends "courses/base.html" %}
{% block content %}

                <h1>Курсы: {{ object.title }}</h1>
                <ul class="list-group">
                  <font color="black">
                  <li class="list-group-item">Язык программирования (технология): {{ object.technology }}</li>
                  <li class="list-group-item">Название: {{ object.title }}</li>
                  <li class="list-group-item">Описание: {{ object.description }}</li>
                  <li class="list-group-item">Преподаватель:
                      <a href={% url 'Coach_item' object.instructor.id %}><font color="grey">
                      {{ courses.instructor.surname }} {{ object.instructor.name }}</font></a></li>
                  <li class="list-group-item">Асистент:
                      <a href={% url 'Coach_item' object.assistant.id %}><font color="grey">
                      {{ object.assistant.surname }} {{ object.assistant.name }}</font></a></li>
                  <li class="list-group-item">Дата начала: {{ object.start_date }}</li>
                  <li class="list-group-item">Дата окончания: {{ object.end_date }}</li>
                  <li class="list-group-item">Адрес:
                      <a href={% url 'address_item' object.venue.id %}>
                      <font color="grey">{{ object.venue.street }}, {{ object.venue.home }}</font></a>
                  </li>
                  </font>

                </ul>
                <a href={% url 'courses_edit' object.id %} class="btn btn-primary" role="button">Edit</a>
                <a href={% url 'courses_del' object.id %} class="btn btn-primary" role="button">Remove</a></p>

{% endblock %}
