{% extends "courses/base.html" %}
{% block content %}

            <h1>PyBursa Courses list</h1>

             <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">PyBursa Courses list</div>


            <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Название</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for course in courses %}
                      <tr>
                        <td> <a href={% url 'Course_item' course.id %}>
                    <font color="black"> {{ course.title }} </font> </a></td>
                        <td><font color="black"> {{ course.start_date }} </font></td>
                        <td><font color="black"> {{ course.start_date }} </font></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>


                 <a href={% url 'course_add' %} class="btn btn-primary" role="button">ADD</a></p>

{% endblock %}
