{% extends "coaches/base.html" %}
{% block content %}

                <h1>Препод: {{ coache.surname }} {{ coache.name }}</h1>
                <ul class="list-group">
                  <font color="black">
                  <li class="list-group-item">E-mail: {{ coache.email }}</li>
                  <li class="list-group-item">Телефон: {{ coache.phone }}</li>
                  <li class="list-group-item">Тип: {{ coache.role }}</li>
                  <li class="list-group-item">Пользователь: {{ coache.user }}</li>
                  <li class="list-group-item"><a href={% url 'dossier-item' coache.dossier.id %}>
                      <font color="grey">Досье</font>
                  </a></li>
                  </font>

                </ul>
{% endblock %}