{% extends "coaches/base.html" %}
{% block content %}

            <h1>PyBursa Coaches list</h1>
            <ul class="list-group">

              {% for coache in coaches %}
            <li class="list-group-item">
                <a href={% url 'Coach_item' coache.id %}>
                    <font color="black">
                {{ coache.id }} : {{ coache.surname }} {{ coache.name }}
                    </font>

                </a>
            </li>
            {% endfor %}

            </ul>
            <a href={% url 'coach_add' %} class="btn btn-primary" role="button">ADD</a></p>


{% endblock %}
