{% extends "address/base.html" %}
{% block content %}

                <h1>Полный адрес: </h1>
                <ul class="list-group">
                  <font color="black">
                  <li class="list-group-item">Почтовый индекс: {{ address.postal_code }}</li>
                  <li class="list-group-item">Страна: {{ address.country }}</li>
                  <li class="list-group-item">Область: {{ address.region }}</li>
                  <li class="list-group-item">Район: {{ address.district }}</li>
                  <li class="list-group-item">Улица: {{ address.street }}</li>
                  <li class="list-group-item">Дом: {{ address.home }}</li>
                  </font>

                </ul>

{% endblock %}
