{% extends "address/base.html" %}
{% block content %}
            <h1>PyBursa Address list</h1>
            <ul class="list-group">

              {% for adres in address %}
            <li class="list-group-item">
                <a href={% url 'address_item' adres.id %}>
                    <font color="black">
                {{ adres.country }}, {{ adres.street }}, {{ adres.home }}
                    </font>

                </a>
            </li>
            {% endfor %}

            </ul>
{% endblock %}
